#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
    width: 20px;
    height: 50px;
}

#menu::before {
	content: "≡";
}
.navigation {
	list-style: none;
	margin: 0 auto;
    padding: 0;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	/* padding: 0.75rem; */
	text-align: left;
	text-decoration: none;
	color: black;
	/* font-weight: 700; */
	transition: 0.5s;
	/* font-size: clamp(1rem, 2vmin, 1.5rem); */
}

/* .navigation a:hover, .navigation a:active {
	color: white;
	background-color: black;
} */

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}



@media (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
    }
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}
@media (max-width: 600px) {
    .hero-box, .opening, .funny {
        display: flex;
        flex-direction: column;
    }
    .hero-img {
        /* max-width: 100%; Ajusta el ancho máximo de la imagen */
        height: auto; /* Mantiene la proporción de aspecto */
    }    

    .open-image img, .fun-image img {
    max-width: 100%;
    height: auto;
    }

	table {
		width: auto;
		margin: 0;
		padding: 100px;
	}
    table tr{
		display: flex;
		flex-direction: column;
		border: 1px solid grey;
		padding: 1em;
		margin-bottom: 1em;
	}
	table thead {
		display: none;
	}
	table td[data-label] {
		display: flex;
	}
	table td[data-label]::before {
		content: attr( data-label );
		width: 300px;
	}

	.contact-container {
		grid-template-columns: 1fr;
	}

	.w3-modal-content {
		/* margin: 5% auto; */
		width: 90%;
	  }
}