
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav ul {
    display: flex;
    justify-content: end;
    gap: 40%;
}

header {
    
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
    position: relative;
    margin: 0 5px;
}

nav li::before,
nav li::after {
    content: "|"; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #555555; 
    width: 1px;
    transform-origin: center center;
}



#logo_link {
    display: flex;
    align-items: center; 
}

nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    color: black;
}
ul {
    list-style-type: none;
    /*see it*/    
}

.logo {
    width: 100px;
}

.hero {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

#hero-img {
    width: 100%;
}



#title {
    background-color: #d7192d;
    color: white;
    text-align: center;
    font-size: 50px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    color: black;   
}
.img1, .img2, .img3 {
    width: 100%;
}
.title1 {
    grid-column: 1/11;
    text-align: center;
    margin: 20px;
}
.mySlides1 {
    grid-column: 2/4;
    grid-row: 2/3;
}
.mySlides2{
    grid-column: 5/7;
    grid-row: 2/3;
}
.mySlides3{
    grid-column: 8/10;
    grid-row: 2/3;
}
.title2 {
    margin: 20px;
    grid-column: 1/11;
    grid-row: 3/4;
    text-align: center;
}
.imgnew1, .imgnew2 {
    width: 90%;
    align-self: center;
}
.new1{
    grid-row: 4/6;
    grid-column: 1/5;
}
.new2{
    grid-row: 4/6;
    grid-column: 7/11;
}

.card1 a, .card2 a, .card3 a, .new1 a, .new2 a{
    text-decoration: none;
    /* color: black; */
    margin-bottom: 100px;
}
.weather-card {
    grid-row: 7/8;
    grid-column: 1/6;
    border: 2px solid #555555;
    border-radius: 10px;
    text-align: center;
}
.weather-card h3 {
    background-color: #555555;
    text-align: center;
    color: white;
}

footer {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    margin-top: 50px;
    background-color: #dedcdc;
    height: 100px;
}
.social-media img {
    width: 30px;
}

#mode {
    text-align: right;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}
.mySlides1, .mySlides2, .mySlides3, .new1, .new2 {
    text-align: center;
    margin-bottom: 10px;
}

.home-grid img {
    margin-bottom: 10px;
}

.button1, .button2, .button3 {
    text-decoration: none;
    /* color: black; */
    border: 1px solid black;
    border-radius: 30px;
    padding: 0.5rem 1em;
} 

.button1:hover, .button2:hover, .button3:hover, h3:hover {
    background-color: #d7192d;
    color: white;
}