@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    position: relative;
}

nav ul {
    display: flex;
    justify-content: end;
    gap: 40%;
}

header {
    
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
    position: relative;
    margin: 0 5px;
}

nav li::before,
nav li::after {
    content: "|"; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #555555; 
    width: 1px;
    transform-origin: center center;
}



#logo_link {
    display: flex;
    align-items: center; 
}

nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    color: black;
}
ul {
    list-style-type: none;
    /*see it*/    
}

.logo {
    width: 100px;
}




.hero {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

#hero-img {
    width: 100%;
}

#banner {
    position: relative;
    padding: 10px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    margin-bottom: 20px;
}

#banner::before {
    content: "X";
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    cursor: pointer;
}


#title {
    background-color: #d7192d;
    color: white;
    text-align: center;
    font-size: 50px;
}

.welcome {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-text {
    flex: 1;
    text-align: center;
    max-width: 30%;
    margin: 0 auto;
}

.weather-card {
    flex: 1;
    max-width: 280px;
    border: 2px solid #555555;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}

.area {
    height: 80px;
    width: 23%;
    margin-top: 16px;
    display: flex;
    justify-content: center; /* Centramos horizontalmente */
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 3px solid #d7192d;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: space-between;
    margin-top: 16px;
    margin-bottom: 32px;
    margin: 0 auto;
    background-color: #888;
    padding: 0 15px;
    width: 90%;
}

.text-content {
    color: black;
    font-size: 20px;
    text-align: center;
    align-content: center;
}
.text-content:hover, .area:hover {
    text-decoration: underline;
}

.home-grid h2 {
    font-size: xx-large;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.card-new {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}

.card-new .image-news {
    /* width: 50%; */
    float: left;
    margin-right: 4%;
    width: 600px;
    height: 400px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.msg {
    width: 600px;
    border: 5px solid #da6666;
}

.card-new .msg {
    width: 40%;
    float: left;
    margin-top: 6rem;
    margin-right: -100%;
    padding: 2rem;
    /* background-color: rgba(255, 255, 255, 0.7); */
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.card-new .msg h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
}

.card-new .msg p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card-new .msg, a.button1  {
    display: inline-block;
    /* background-color: #eceaea; */
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}
a.button1 {
    background-color: #b9b6b6;
    color: black;
}

@media (max-width: 768px) {
    /* header {
        display: flex;
        flex-direction: row-reverse;
    } */
    .welcome {
        display: flex;
        flex-direction: column;
    }
    
    .text-content {
        font-size: small;
    }

    .card-new {
        display: flex;
        flex-direction: column;
    }

    .card-new .image-news {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .card-new .msg {
        width: 100%;
        margin-top: 2rem;
        margin-right: 0;
    }
}


.weather-card h3 {
    background-color: #555555;
    text-align: center;
    color: white;
    max-width: 100%;
}

.forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.forecast-days {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.forecast-title {
    margin: 15px;
}

.gold_members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* background-color: #f4f4f4; */
    gap: 15px;
    text-align: center;
    margin: 20px;
}

.gold_members h2 {
    margin: 10px;
}

.gold_members img, .gold_members section {
    box-shadow: 0  0 10px #333;
}

.gold_members section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    /* background-color: #eee; */
}

@media screen and (max-width: 600px) {
    .gold_members {
        grid-template-columns: 1fr;
        margin: 40px;
    }        
}

footer {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    margin-top: 50px;
    background-color: #dedcdc;
    height: 100px;
    text-decoration: none;
}
footer a {
    text-decoration: none;
}
.social-media img {
    width: 30px;
}

#mode {
    text-align: right;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}


.home-grid img {
    margin-bottom: 10px;
}

/* Discover page */

.main-discover {
    position: relative;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: #f0f0f0;
    /* padding: 20px; */    
}

.sidebar img {
    width: 400px;
    height: 400px;
}
.sidebar {
    text-align: center;
    font-size: 23px;
}

.main-content {
    margin-left: 420px; 
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #da6666;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.slideshow-img {
    display: none;
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev:hover, .next:hover, .dot:hover {
    background-color: rgba(0,0,0,0.8);
  }

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
}

@media only screen and (max-width: 600px) {
    .prev, .next,.text {font-size: 11px}
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


#upcoming-events {
    text-align: center;
}
h1 {
    text-align: center;
    margin: 20px;
}
li img {
    animation: fade 5s;
    transition: filter 500ms ease;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

li img:hover {
    filter: brightness(80%);
}

#upcoming-events h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
}
  
#upcoming-events ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
}
  
#upcoming-events li {
      flex: 1 1 calc(33.333% - 2rem);
      margin-bottom: 2rem;
      margin-right: 2rem;
      background-color: #da6666;
      padding: 1rem;
      border-radius: 4px;
      text-align: center;
      position: relative;
}
  
#upcoming-events li img {
      width: 100%;
      border-radius: 4px 4px 0 0;
}
  
#upcoming-events li .content {
      padding: 1rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #d7192d;
      border-radius: 0 0 4px 4px;
      color: white;
      -webkit-text-stroke: black;
      font-size: 25px;
}

  
  
@media (max-width: 768px) {
    #upcoming-events li {
          flex: 1 0 100%;
          margin-right: 0;
    }
    .sidebar {        
        width: 0;
        overflow: hidden;
    }
    .main-content {
        margin-left: 0;
        margin: 20px;
    }
}

/* join page */

.image-join{
    margin-bottom: 50px;
    width: 100%;
    height: 400px;
}

main{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}
/* .main-discover {
    background-color: black;
    color: white;
} */

form {
    max-width: 700px;
    margin: auto;
    width: 400px;
    background-color: #eceaea;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-left: 40px;
    vertical-align: top;
    font-size: 16px;
}

select, input {
    width: 170px;
    font-family: "Ubuntu", sans-serif
}

.join {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* gap: 10px; */
}

.membership-benefits {
    grid-column: 2/3;
}

.subtitle {
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}

#mb {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    text-align: left;
}
textarea {
    width: 170px;
    vertical-align: top;
    font-family: "Ubuntu", sans-serif
}

button[type="submit"] {
    width: 150px;
    padding: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    background-color: #d7192d;
    color: white;
    margin-left: 120px;
    font-family: "Ubuntu", sans-serif
}
button[type="submit"]:hover {
    background-color: #da6666;
    /* color: white; */
}

.image-join {
    width: 100%;
    height: 400px;
    opacity: 0.7;
}

.title-join {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    font-size: 90px;
}

@media screen and (max-width: 768px) {
    .join {
        display: block; 
    }
    .membership-benefits {
        display: block; 
    }
}

/* thankyou page */

.background-image {
    width: 100%;
    height: 400px;
    opacity: 0.6;
}

.contenthank {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contenthank p {
    font-weight: bold;
}

/* directory page */
.directory {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    background-color: #f4f4f4;
    gap: 15px;
}

.viewButtons button{
    margin: 15px;
    border:1px solid white;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.viewButtons img {
    width: 30px;
    justify-content: center;
    align-items: center;
}

.grid h2, .list h2 {
    margin: 10px;
}

.grid img, .grid section {
    box-shadow: 0  0 10px #333;
}

.directory section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
}

.list {
	display: flex;
	flex-direction: column;
    margin: 100px;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
    font-size: 15px;
    justify-self: center;
    align-items: center;
    /* align-self: center; */
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}
.website {
    text-decoration: none;
    color: black;
}

.list section:nth-child(even) {
	background-color: white;
    
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        margin: 40px;
    }

    .list {
        display: flex;
        flex-direction: column;
    }
    .list section {
        display: flex;
        flex-direction: column;
        /* font-size: 13px; */
    }
        
}