

#menu {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight:700;
  padding: .5rem .75rem;
  background-color: #eee;
      color: #000;
}
  
#menu::before {
  content: "≡";
}
  
.navigation {
  list-style: none;
  display: block;
}
  
.navigation li {
  display: none;
}  
  
.navigation a {
  display: block;
}  

.navigation a:hover, navigation a:active {
  color: black;
  background-color: rgb(88, 86, 86);
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}

.navigation::before {
  content: \f06e;
}

nav li a::before {
  content: "↪";
  margin-right: 5px;
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
  
  main {
    grid-template-columns: 1fr;      
    width: 100%;      
  }
      
  nav li a::before {
    content:none;
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; 
    flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }

  #menu {
    display: none;
  }
}